body{

font-family:Poppins,Arial;

background:linear-gradient(135deg,#3b0000,#9b0000);

color:white;

margin:0;

}

.sidebar{

position:fixed;

width:220px;

height:100%;

background:rgba(0,0,0,0.35);

backdrop-filter:blur(10px);

padding:20px;

}

.sidebar h2{

margin-bottom:30px;

}
.sidebar a{

display:block;

padding:12px;

margin-bottom:10px;

text-decoration:none;

color:white;

font-weight:600;

border-radius:8px;

}

.sidebar a:hover{

background:#b30000;

}

.content{

margin-left:240px;

padding:40px;

}

.cards{

display:flex;

gap:20px;

margin-bottom:30px;

}

.glass-card{

background:rgba(255,255,255,0.1);

padding:25px;

border-radius:15px;

backdrop-filter:blur(10px);

font-size:20px;

font-weight:700;

}

.items{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}
.item-card{

background:rgba(255,255,255,0.08);

padding:20px;

border-radius:15px;

text-align:center;

}

.item-card img{

width:120px;

margin-bottom:10px;

}

button{

background:#ff2e2e;

border:none;

padding:10px 16px;

border-radius:8px;

color:white;
font-weight:700;

cursor:pointer;

}

button:hover{

background:#ff4444;

}

.login-body{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.login-card{

background:rgba(255,255,255,0.1);

padding:40px;

border-radius:15px;
backdrop-filter:blur(12px);

text-align:center;

}

input{

display:block;

width:100%;

margin:10px 0;

padding:10px;

border-radius:8px;

border:none;

}